.base p, h1, h2, h3, h4, h5, h6, a, span, div, input, button, label, select, option, textarea {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #4915F8;
}

h1 {
    font-size: 10em;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 6em;
    }
}

@media screen and (max-width: 860px) {
    h1 {
        font-size: 4em;
    }
}

.base {
    max-width: 100%;
    width: 1480px;
    margin-inline: auto;
    font-style: normal;
}

.base p {
    color: white;
    margin: 3px;
}

.P_BaseContent {
    flex-basis: 600px;
    
}

.P_BaseContent p, h1 {
    margin: 0;
}

.baseContent {
    display: flex;
    flex: 1;
    margin-top: 100px;
}

.baseContent .PBaseContent {
    margin-top: 70px;
}

.baseContent img {
    max-width: 100%;
    height: auto;
}

.cta-button {
    padding: 10px;
    border-radius: 20px;
    background-color: #eb8541;
    color: white;
    font-size: 17px;
}

.TryButton input, .PBaseContent input {
    width: 230px;
}

.middleContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.bottomContent {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-left: 100px;
    margin-top: 200px;
}

.bottomContent div {
    flex-basis: 550px;
    padding: 20px;
}

.bottomContent .content1, .content2 {
    height: 400px;
}

.content1 p, .content2 p {
    padding: 5px;
}

.headline {
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 150px;
}

.sub-headline h1 {
    font-size: 50px;
    color: white;
}

.featured {
    color: #BEB6F7;
    font-size: 20px;
}

.explore-more {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.section-title {
    font-size: 30px;
    color: white;
    margin: 14px;
}

/* Image Styles */
.bottomContent img {
    width: 100%;
    height: auto;
}

/* Responsiveness */
@media screen and (max-width: 1600px) {
    .base {
        width: 1260px;
    }
}

@media screen and (max-width: 1340px) {
    .base {
        width: 1080px;
    }
}

@media screen and (max-width: 1200px) {
    .base {
        width: 860px;
    }
}

@media screen and (max-width: 860px) {
    .base {
        width: 100%;
    }
}

.topHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TryButton input{
    justify-content: flex-end;
}

.ButtonsLogin{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 200px;
}

.SignIn{
    margin-right: 30px;
    margin-top: 12px;
}

.SignIn a{
    text-decoration: none;
    color: white;
}